.formBox {
   margin-bottom: 35vh;
    button {
        margin-top: 30px;
    }
}

.errorMessage {
    display: block;
    color: $orange;
    text-align: right;
    border-bottom: $baseBorder;
    border-radius: 2px;

}

.formValidated {
    color: $purple;
    font-size: 1.2em;
    text-align: center;
    margin-top: 10px;
    border-bottom: $baseBorder;
    border-color: $lightpurple;
}