//COLOR SCHEME//

$black : #000000;
$white : #ffffff;
$purple: #3c54a0;
$lightpurple:#b8c1e1;
$orange : #ff9000;
$bright : #fdf6ec;


//OTHER VARIABLES//
$mainFont : "Open Sans", arial , Sans-serif;
$bold: 800;
$baseBorder: solid $orange 2px;


